body 
{
    background-image: url(ICE\ CREAM\ AERICK.avif); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;  
}

.navbar ul 
{
    list-style-type: none; 
    background-color: rgb(89, 102, 29); 
    padding: 0px; 
    margin: 0px; 
    overflow: hidden; 
}

.navbar a 
{
    color: white; 
    text-decoration: none; 
    padding: 15px; 
    display: block; 
    text-align: center; 
}

.navbar a:hover 
{
    background-color: rgb(207, 166, 28);
}

.navbar li 
{
    float: left; 
}